# Credit Card Default

https://archive.ics.uci.edu/ml/datasets/default+of+credit+card+clients

Attribute Information:

This research employed a binary variable, default payment (Yes = 1, No = 0), as the response variable. This study reviewed the literature and used the following 23 variables as explanatory variables: 

* X1: Amount of the given credit (NT dollar): it includes both the individual consumer credit and his/her family (supplementary) credit. 
* X2: Gender (1 = male; 2 = female). 
* X3: Education (1 = graduate school; 2 = university; 3 = high school; 4 = others). 
* X4: Marital status (1 = married; 2 = single; 3 = others). 
* X5: Age (year). 


* X6 - X11: History of past payment. We tracked the past monthly payment records (from April to September, 2005) as follows: 
* X6 = the repayment status in September, 2005; 
* X7 = the repayment status in August, 2005; . . .;
* X11 = the repayment status in April, 2005. 
* The measurement scale for the repayment status is: 
    * -1 = pay duly; 
    * 1 = payment delay for one month; 
    * 2 = payment delay for two months; . . .; 
    * 8 = payment delay for eight months; 
    * 9 = payment delay for nine months and above. 


* X12-X17: Amount of bill statement (NT dollar). 
* X12 = amount of bill statement in September, 2005; 
* X13 = amount of bill statement in August, 2005; . . .; 
* X17 = amount of bill statement in April, 2005. 


* X18-X23: Amount of previous payment (NT dollar). 
* X18 = amount paid in September, 2005; 
* X19 = amount paid in August, 2005; . . .;
* X23 = amount paid in April, 2005.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("data/default of credit card clients.xls", skiprows=1)
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [3]:
from IPython.display import HTML

In [4]:
pd.set_option('display.max_colwidth', -1)
display(HTML(df.head().to_html()))
pd.reset_option('display.max_colwidth')

In [5]:
list(df.columns)

['ID',
 'LIMIT_BAL',
 'SEX',
 'EDUCATION',
 'MARRIAGE',
 'AGE',
 'PAY_0',
 'PAY_2',
 'PAY_3',
 'PAY_4',
 'PAY_5',
 'PAY_6',
 'BILL_AMT1',
 'BILL_AMT2',
 'BILL_AMT3',
 'BILL_AMT4',
 'BILL_AMT5',
 'BILL_AMT6',
 'PAY_AMT1',
 'PAY_AMT2',
 'PAY_AMT3',
 'PAY_AMT4',
 'PAY_AMT5',
 'PAY_AMT6',
 'default payment next month']

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
ID                            30000 non-null int64
LIMIT_BAL                     30000 non-null int64
SEX                           30000 non-null int64
EDUCATION                     30000 non-null int64
MARRIAGE                      30000 non-null int64
AGE                           30000 non-null int64
PAY_0                         30000 non-null int64
PAY_2                         30000 non-null int64
PAY_3                         30000 non-null int64
PAY_4                         30000 non-null int64
PAY_5                         30000 non-null int64
PAY_6                         30000 non-null int64
BILL_AMT1                     30000 non-null int64
BILL_AMT2                     30000 non-null int64
BILL_AMT3                     30000 non-null int64
BILL_AMT4                     30000 non-null int64
BILL_AMT5                     30000 non-null int64
BILL_AMT6                     30000 non-null int64
PAY_AMT1                      30000 non-null int64
PAY_AMT2                      30000 non-null int64
PAY_AMT3                      30000 non-null int64
PAY_AMT4                      30000 non-null int64
PAY_AMT5                      30000 non-null int64
PAY_AMT6                      30000 non-null int64
default payment next month    30000 non-null int64
dtypes: int64(25)
memory usage: 5.7 MB

# Gender

Convert gender to 0, 1 instead of 1, 2

In [7]:
df["SEX"] = df["SEX"] - 1.

In [8]:
df["SEX"].value_counts()

1.0    18112
0.0    11888
Name: SEX, dtype: int64

# Education

One Hot Encoding

In [9]:
df["EDUCATION"].value_counts()

2    14030
1    10585
3     4917
5      280
4      123
6       51
0       14
Name: EDUCATION, dtype: int64

## 1. Using Keras Utilities

In [10]:
from keras.utils import to_categorical
encoded = to_categorical(df["EDUCATION"])
print(encoded[:10])

Using TensorFlow backend.

[[ 0.  0.  1.  0.  0.  0.  0.]
 [ 0.  0.  1.  0.  0.  0.  0.]
 [ 0.  0.  1.  0.  0.  0.  0.]
 [ 0.  0.  1.  0.  0.  0.  0.]
 [ 0.  0.  1.  0.  0.  0.  0.]
 [ 0.  1.  0.  0.  0.  0.  0.]
 [ 0.  1.  0.  0.  0.  0.  0.]
 [ 0.  0.  1.  0.  0.  0.  0.]
 [ 0.  0.  0.  1.  0.  0.  0.]
 [ 0.  0.  0.  1.  0.  0.  0.]]

In [11]:
df["EDUCATION"].head(10)

0    2
1    2
2    2
3    2
4    2
5    1
6    1
7    2
8    3
9    3
Name: EDUCATION, dtype: int64

## 2. Alternative Method

In [12]:
unique_edu = df["EDUCATION"].unique()
unique_edu

array([2, 1, 3, 5, 4, 6, 0], dtype=int64)

In [13]:
from sklearn.preprocessing import OneHotEncoder
onehot_encoder = OneHotEncoder(sparse=False)
unique_edu = unique_edu.reshape(len(unique_edu), 1)
onehot_encoded = onehot_encoder.fit_transform(unique_edu)

In [14]:
print(onehot_encoded)

[[ 0.  0.  1.  0.  0.  0.  0.]
 [ 0.  1.  0.  0.  0.  0.  0.]
 [ 0.  0.  0.  1.  0.  0.  0.]
 [ 0.  0.  0.  0.  0.  1.  0.]
 [ 0.  0.  0.  0.  1.  0.  0.]
 [ 0.  0.  0.  0.  0.  0.  1.]
 [ 1.  0.  0.  0.  0.  0.  0.]]

# Marriage

In [15]:
df["MARRIAGE"] = df["MARRIAGE"] - 1.0

In [16]:
df["MARRIAGE"].value_counts()

 1.0    15964
 0.0    13659
 2.0      323
-1.0       54
Name: MARRIAGE, dtype: int64

We need to decide what to do with 0 and -1. 

1 and 2 are male; 2 = female respectively

We will convert -1 to 0.

In [17]:
df["MARRIAGE"].iloc[np.where(df["MARRIAGE"] == -1.0)] = 0

C:\Anaconda3\envs\tensorflow\lib\site-packages\pandas\core\indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

# Age

In [18]:
df["AGE"].value_counts()

29    1605
27    1477
28    1409
30    1395
26    1256
31    1217
25    1186
34    1162
32    1158
33    1146
24    1127
35    1113
36    1108
37    1041
39     954
38     944
23     931
40     870
41     824
42     794
44     700
43     670
45     617
46     570
22     560
47     501
48     466
49     452
50     411
51     340
53     325
52     304
54     247
55     209
56     178
58     122
57     122
59      83
60      67
21      67
61      56
62      44
63      31
64      31
66      25
65      24
67      16
69      15
70      10
68       5
73       4
71       3
72       3
75       3
74       1
79       1
Name: AGE, dtype: int64

A question we should ask ourselves is should we bin our data?

Let's try without binning for now

# PAY_0, ... PAY_06

In [19]:
df["PAY_0"].value_counts()

 0    14737
-1     5686
 1     3688
-2     2759
 2     2667
 3      322
 4       76
 5       26
 8       19
 6       11
 7        9
Name: PAY_0, dtype: int64

# Bill Statement

X12-X17: Amount of bill statement (NT dollar).

X12 = amount of bill statement in September, 2005;

X13 = amount of bill statement in August, 2005; . . .;

X17 = amount of bill statement in April, 2005.

In [20]:
df["BILL_AMT1"].value_counts()

 0         2008
 390        244
 780         76
 326         72
 316         63
 2500        59
 396         49
 2400        39
 416         29
 500         25
 1050        25
 1473        24
-200         22
 1261        22
-5           22
 836         21
 264         20
-3           19
 291         19
 600         18
-2           17
 360         17
-4           16
 1000        16
-1           16
 150         14
 300         14
 200         14
 325         14
 632         13
           ...
 33370        1
 35419        1
 78428        1
 47709        1
 10847        1
 16994        1
 19043        1
 225892       1
 31333        1
 29252        1
 68859        1
 285249       1
 16946        1
 39465        1
 33322        1
 2603         1
 47661        1
 74286        1
-33           1
 250416       1
 225844       1
 48596        1
 31285        1
 93625        1
 59959        1
 12466        1
 98874        1
 2619         1
 14909        1
 44984        1
Name: BILL_AMT1, Length: 22723, dtype: int64

# Previous Payment

X18-X23: Amount of previous payment (NT dollar).

X18 = amount paid in September, 2005;

X19 = amount paid in August, 2005; . . .;

X23 = amount paid in April, 2005.

In [21]:
df["PAY_AMT1"].value_counts()

0         5249
2000      1363
3000       891
5000       698
1500       507
4000       426
10000      401
1000       365
2500       298
6000       294
390        207
7000       195
3500       185
1300       184
8000       176
1600       174
1800       167
1700       157
1200       136
2100       129
4500       108
2200       108
1400        97
15000       97
3200        84
20000       80
9000        80
2300        70
6500        70
11000       68
          ...
236          1
13952        1
40453        1
16001        1
10473        1
71316        1
20710        1
24800        1
7845         1
34470        1
3671         1
1622         1
5716         1
20047        1
10505        1
50702        1
19983        1
160002       1
6972         1
3607         1
4350         1
5668         1
252          1
20015        1
7733         1
24125        1
20031        1
9019         1
11066        1
10850        1
Name: PAY_AMT1, Length: 7943, dtype: int64

There are a few things we need to pay attention to here. 

We ought to ask ourselves. Is raw bill statement amount important? This informs us how much is owed. How do we tell if this is significant. Of course, it is related to their assets and income. However, we lacked those information.

Let's example previous payment. What kind of assumptions or hypothesis can we make initially. Payment is important. Amount repaid is also important. Do we need to engineer some features? Say relate payment with the amount owed?

Do we combine the credit card limit with bill amount. I.e., is the amount he owe close to the limit of his credit card balance? Does it matter? A simple feature we can engineer may be to divide the amount billed with the credit card limit.

# Model

Let's start with some simple model. Logistic regression.

In [22]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

In [23]:
features = pd.concat([df[['LIMIT_BAL', 'SEX', 'AGE', 'EDUCATION',
                          'PAY_0', 'PAY_2', 'PAY_3', 
                          'PAY_4', 'PAY_5', 'PAY_6',
                          'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 
                          'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6',
                          'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3',
                          'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6']], pd.DataFrame(encoded)], axis=1)
features.head()

,LIMIT_BAL,SEX,AGE,EDUCATION,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,...,PAY_AMT4,PAY_AMT5,PAY_AMT6,0,1,2,3,4,5,6
0,20000,1.0,24,2,2,2,-1,-1,-2,-2,...,0,0,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,120000,1.0,26,2,-1,2,0,0,0,2,...,1000,0,2000,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,90000,1.0,34,2,0,0,0,0,0,0,...,1000,1000,5000,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,50000,1.0,37,2,0,0,0,0,0,0,...,1100,1069,1000,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,50000,0.0,57,2,-1,0,-1,0,0,0,...,9000,689,679,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [24]:
n = 25000

In [25]:
from sklearn.metrics import confusion_matrix, accuracy_score

## Model 1:

In [26]:
clf = LogisticRegression()

In [27]:
clf.fit(features[:n], df["default payment next month"].values[:n])
y_train_pred = clf.predict(features[:n])
y_test_pred = clf.predict(features[n:])

## Train

In [28]:
print(confusion_matrix(df["default payment next month"].values[:n], 
                       y_train_pred))
print(accuracy_score(df["default payment next month"].values[:n],
                     y_train_pred))

[[19418     4]
 [ 5578     0]]
0.77672

## Test

In [29]:
print(confusion_matrix(df["default payment next month"].values[n:], 
                       y_test_pred))
print(accuracy_score(df["default payment next month"].values[n:],
                     y_test_pred))

[[3942    0]
 [1058    0]]
0.7884

## Model 2:

In [30]:
clf = RandomForestClassifier(random_state=42)

In [31]:
clf.fit(features[:n], df["default payment next month"].values[:n])
y_train_pred = clf.predict(features[:n])
y_test_pred = clf.predict(features[n:])

## Train

In [32]:
print(confusion_matrix(df["default payment next month"].values[:n], 
                       y_train_pred))
print(accuracy_score(df["default payment next month"].values[:n],
                     y_train_pred))

[[19381    41]
 [  480  5098]]
0.97916

## Test

In [33]:
print(confusion_matrix(df["default payment next month"].values[n:], 
                       y_test_pred))
print(accuracy_score(df["default payment next month"].values[n:],
                     y_test_pred))

[[3738  204]
 [ 703  355]]
0.8186

***